*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font;
  color: $color;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: .2s;
}
